<html>
<head>
</head>
<body>
    <p>Dear @Model.Name,</p>
    <p>Thank you for registering with VerbTrainer.</p>
    <p>Please confirm your email using the following link @Model.ConfirmationLink</p>

    <p>Regards,</p>
    <p>Your VerbTrainer Team</p>
</body>
</html>