@model Model

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <p>Dear @Model.Name,</p>
    <p>Password reset was requested for your account at VerbTrainer</p>
    <p>Click on the link below and set a new password.</p>
    <p>Don't shre the link with anyone. </p>
    <p>The link is only valid for 2 hours.</p>
    <p>@Model.Link</p>

    <p>Regards,</p>
    <p>Your VerbTrainer Team</p>
</body>
</html>


